/* changes I made refactoring this page:
I put both cards side by side, using float. (and of course clear after)
I added margins where it was necessary(for example - footer buttons. I moved them to the right.
added just a little bit of padding(it doesn't seem necessary to me, but just for the exercise. */

:root {
  --primary-color: darkblue;
  --social-media-background-color: aquamarine;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/images/pexels-henry-&-co-1939485.jpg);
  height: 100vh;
  width: 100vw;
  font-size: 4rem;
  text-align: justify;
}

.header {
  font-family: "Oswald", sans-serif;
  color: var(--primary-color);
  height: 15vh;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}
.header::before {
  content: "";
  background: url(/images/my\ logo.png);
  background-repeat: repeat-x;
  background-size: contain;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.container-cards {
  position: absolute;
  top: 16vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 85vh;
  width: 100vw;
  flex: 1;
}
.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4fr 1fr;
  gap: 1rem;
  height: 100%;
  width: 100%;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#profile_card div:first-child {
  grid-column: 1;
  grid-row: 1;
}

#profile_card div:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
.card .card-paragraph {
  grid-column: 1 / span 2;
  grid-row: 2;
}
#bike_card img {
  grid-column: 1 / span 2;
  grid-row: 1;
}

#footer-nav {
  margin-left: 10px;
  font-family: "Hachi Maru Pop", cursive;
  color: rgb(39, 39, 31);
}

button {
  background-color: var(--social-media-background-color);
}
