* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  flex-direction: column;

  /* cross axis align */
  align-items: flex-start;
  height: 100vh;
  /* main axis align */
  justify-content: space-around;

  /* flex-direction: column; */
}
.box {
  width: 10vw;
  height: 10vw;
}
#box1 {
  background-color: green;
}
#box2 {
  background-color: blue;
}
#box3 {
  background-color: red;
}
