@media only screen and (min-width: 480px) {
  body {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.2remx;
  }
}
@media only screen and (min-width: 1000px) {
  body {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1170px) {
  body {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1340px) {
  body {
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 1580px) {
  body {
    font-size: 1.9rem;
  }
}
