.box0{
  position: absolute;
  background-color: blue;
  top: 10vh;
  left: 0vh;
  height: 10vh;
  width: 10vh;
  animation: 1s moveToScreen linear normal;
}

.disappear{
  display: none;
}
.box1{
  position: absolute;
  background-color: black;
  top: 20vh;
  left:0;
  height: 20vh;
  width: 20vh;
  animation: 1s moveToScreen linear normal;

}
.box2{
  position: absolute;
  background-color: brown;
  top: 40vh;
  left:0;
  height: 30vh;
  width: 30vh;
  animation: 1s moveToScreen linear normal;

}

@keyframes moveToScreen{
  0%{transform: translateX(-30vh);}
  100%{transform:translateX(0);}
}