.increment{
  display: inline-block;
}

.decrement{
  display: inline-block;
}
label{
  display: inline-block;
  width: 5vw;
  border: thin solid black;
  margin: 0 3vw;
  text-align: center;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
.black{
  background-color: black;
  color: white;
}